{% extends "base.html" %}

{% block title %}Page Not Found{% endblock %}

{% block content %}
<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-12 text-center">
              <span class="display-1 d-block">404</span>
              <div class="mb-4 lead">The page you are looking for was not found.</div>
              {% if g.user %}
                <a href="/users/{{ g.user.id }}" class="btn btn-link">Go back to your profile.</a>
              {% else %}
                <a href="{{ url_for('login') }}" class="btn btn-link">Go somewhere nice.</a>
              {% endif %}
            </div>
      </div>
  </div>
</div>
  {% endblock %}