{% extends 'users/detail.html' %} {% block user_details %}
<div class="col-sm-9">
    <div class="row">
        <ul class="list-group" id="messages">
            {% for msg in user.fav_messages %}
            <li class="list-group-item">
                <a href="/messages/{{ msg.id  }}" class="message-link">
                    <a href="/users/{{ msg.user.id }}">
                        <img src="{{ msg.user.image_url }}" alt="" class="timeline-image">
                    </a>
                    <div class="message-area">
                        <a href="/users/{{ msg.user.id }}">@{{ msg.user.username }}</a>
                        <span class="text-muted">{{ msg.timestamp.strftime('%d %B %Y') }}</span>
                        <form action="/like/{{ msg.id }}/{{ action }}" method="POST">
                            {% if g.user.has_liked_message(msg) %}
                            <a href="{{ url_for('like_unlike', message_id=msg.id, action='unlike') }}"><i class="fas fa-heart"></i></a> {% else %}
                            <a href="{{ url_for('like_unlike', message_id=msg.id, action='like') }}"><i class="far fa-heart"></i></a> {% endif %}
                        </form>
                        <p>{{ msg.text }}</p>
                    </div>
            </li>

            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}