{% extends 'users/detail.html' %} {% block user_details %}
<div class="col-sm-6">
    <ul class="list-group" id="messages">

        {% for message in messages %}

        <li class="list-group-item">
            <a href="/messages/{{ message.id }}" class="message-link" />

            <a href="/users/{{ user.id }}">
                <img src="{{ user.image_url }}" alt="user image" class="timeline-image">
            </a>

            <div class="message-area">
                <a href="/users/{{ user.id }}">@{{ user.username }}</a>
                <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span> {% if g.user.id != message.user.id%} {% if g.user.has_liked_message(message) %}
                <a style="display:inline-block;" href="{{ url_for('like_unlike', message_id=message.id, action='unlike') }}"><i
                class="fas fa-heart"></i></a> {% else %}
                <a style="display:inline-block;" href="{{ url_for('like_unlike', message_id=message.id, action='like') }}"><i
                class="far fa-heart"></i></a> {% endif %} {% endif %}
                <p>{{ message.text }}</p>
            </div>
        </li>

        {% endfor %}

    </ul>
</div>
{% endblock %}